<nav
  class="navbar navbar-expand-lg
  {% if page.opaque_navbar %} navbar-light
  {% else %} navbar-dark bg-transparent
  {% endif %}"
  role="navigation">
  <div class="container no-override">
    <a
      class="navbar-brand"
      href="/">
      <img
        class="d-none d-lg-inline mr-2 w-25"
        src="/assets/images/logo.png"/>
      Sparrow
    </a>

    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbar-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      id="navbar-collapse"
      class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        {% for link in site.data.nav %}
        {% if link.footer_only %}
        {% else %}
          <li class="nav-item active">
            <a
              class="nav-link"
              href="{{ link.url }}">
              {{ link.label }}
            </a>
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
