---
layout: base
---

<style>
ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}
</style>

<div class="blog-post-3">
  <div class="container">
    <h1>{{ page.title }}</h1>
    {% if page.start or page.end %}
      <p>
        If you signed with Sparrow
        {% if page.start %} before {{ page.start | date: "%B %d, %Y" }} {% endif %}
        {% if page.start and page.end %}or{% endif %}
        {% if page.end %} after {{ page.end | date: "%B %d, %Y" }} {% endif %}
        you may find your applicable terms in <a href="/previous_terms">this list</a>.
      </p>
    {% endif %}

    <div class="blog-post-content">
      {{ content }}
    </div>
  </div>
</div>
